<%- layout('/layouts/boilerplate.ejs') %>
<body>
    
    <div>
        <h2>Trip Name: <%=group.title%></h2>
        <div>
            <h3>Participents</h3>
            <%for(let par of group.participants){%>
                <p><%=par%></p>
            <%}%>
            <br>
            <button><a href='/trip/<%=group._id%>/expanse'>Add Expanse</a></button><br>
            <%if(group.expenses.length > 0){%>
                <h2>Expenses</h2>
                <%for(let exp of group.expenses){%>
                    <p>Description: <%=exp.description%></p>
                    <p>Paid By: <%=exp.name%></p>
                    <p>Amount: <%=exp.amount%></p>
                <%}%>
            <%}%>
        </div>

    </div>
</body>
